<!-- /sidebar menu -->
<!-- /menu footer buttons -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Genel İşlemler</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home" aria-hidden="true"></i> Kullanıcı İşlemleri <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="KullaniciIslem">Kullanıcı Kayıt / Güncelle</a></li>
                    <li><a href="KullaniciIslem">Kullanıcı Yetkilendirme</a></li>
                </ul>
            </li>
            <li>
                <a href="Uyarlamalar"><i class="fa fa-table"></i> Uyarlama Tabloları </a>
            </li>
            <li>
                <a href="DavaListe"><i class="fa fa-balance-scale"></i> Dava Listeleri </a>
            </li>
        </ul>
    </div>
</div>
<div class="sidebar-footer hidden-small">

    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>
<!-- /menu footer buttons -->